<p><%= @mock.description %></p>

<p><%= link_to "View Mock", "http://mockr/#{@mock.path}" %></p>

<%= link_to(image_tag("http://mockr/images/mocks/#{@mock.path}",
  :width => '400'), "http://mockr/#{@mock.path}") %>
