.module {
  border-bottom: 1px solid #888;
  padding: 8px 0;
}
#add_feedback_form {
  margin: 0 10px;
}
#add_feedback_form input[type=image] {
  vertical-align: bottom;
}
#add_feedback_form textarea {
  background: #ccc;
  height: 60px;
  margin-right: 3px;
  width: 272px;
}
#children_comments_list {
  margin-top: 10px;
}
#children_comments_list li {
  background: #444;
  margin: 0 -10px 1px 0;
  padding: 8px 10px;
}
#children_comments_list .meta {
  font-size: 10px;
  margin-top: 5px;
  text-align: right;
}
#comments_list {
  font-size: 12px;
}
#comments_list>li {
  background-position: 8px 8px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #888;
  padding: 12px 10px 12px 32px;
}
#comments_list li.happy {
  background-image: url("../images/happy.gif");
}
#comments_list li.sad {
  background-image: url("../images/sad.gif");  
}
#comments_list .author {
  color: #888;
}
#comments_list .text {
  margin: 1em 0 0;
}
#comments_list .time {
  color: #888;
  float: right;
  font-size: 10px;
  margin-top: 1px;
}
#feelings_input_fields li, #feelings_input_fields input {
  float: left;
}
#feelings_input_fields input {
  margin: 3px 4px 0 0;
}
#feelings_input_fields li {
  padding-right: 8px;
}
#header {
  background-color: black;
  padding: 0 10px;
}
#header h1 {
  background-image: url(../images/mockr.gif);
  background-position: left 5px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
#mock {
  float: left;
}
#mock_header {
  background-image: url(../images/glass.gif);
  background-repeat: repeat-x;
  font-weight: bold;
  line-height: 43px;
  padding: 0 0 0 10px;
}
#nav_list {
  float: right;
}
#nav_list li {
  border-left: 1px solid #aaa;
  float: left;
}
#nav_list a {
  display: block;
  font-weight: normal;
  padding: 0 10px;
}
#sidebar {
  background-color: #333;
  color: white;
  float: left;
  width: 400px;
}
