a {
  text-decoration: none;
  color: white;
}
body, form, h1, h2 {
  margin: 0;
  padding: 0;
}
body, textarea {
  font-family: Helvetica, Arial, sans-serif;
}
body {
  background: #222;
  width: 1400px;
}
input {
  margin: 0;
  padding: 0;
}
textarea {
  border-width: 1px;
  padding: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0pt;
  line-height: 0pt;
  visibility: hidden;
}
html[xmlns] .clearfix {
  display:block;
}
* html .clearfix {
  height:1%;
}