body {
  background-repeat: repeat-x;
  background-image: url(../images/home_background.png);
  width: 100%;
}
#content {
  margin: 200px auto 0;
  text-align: center;
  width: 400px;
}
#content img {
  margin-bottom: 40px;
}
#features  {
  line-height: 30px;
  text-align: justify;
}
#features a:hover {
  background-color: #444;
  border-bottom: 1px dotted #999;
  text-decoration: none;
}
#logo {
  border-bottom: none;
  text-decoration: none;
}
#logo:hover {
  background: none;
}
