body {
  background-repeat: repeat-x;
  background-image: url(../images/home_background.png);
  width: 100%;
}
h2 {
  color: #666;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: .5em;
  text-align: left;
}
#active_mocks {
  margin-bottom: 50px;
  text-align: left;
}
#active_mocks img {
  background: #444;
  padding: 4px;
  display: block;
  width: 132px;
}
#active_mocks li {
  float: left;
  width: 144px;
  margin-right: 20px;
}
#active_mocks ul {
  margin-right: -20px;
}
#active_mocks .meta {
  color: #555;
  font-size: 10px;
  margin-top: .5em;
}
#active_mocks .preview_container {
  height: 100px;
  margin-bottom: 10px;
  overflow: hidden;
}
#content {
  margin: 200px auto 0;
  text-align: center;
  width: 800px;
}
#features  {
  line-height: 30px;
  text-align: justify;
}
#features a:hover {
  background-color: #444;
  border-bottom: 1px dotted #999;
  text-decoration: none;
}
#logo a {
  border-bottom: none;
  text-decoration: none;
}
#logo a:hover {
  background: none;
}
#logo img {
  margin-bottom: 40px;
}
