body {
  background-repeat: repeat-x;
  background-image: url(../images/home_background.png);
  width: 100%;
}
h2 {
  color: #666;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: .5em;
  text-align: left;
}
.folders {
  float: left;
  font-size: 12px;
  line-height: 18px;
  margin: 0 10px;
  text-align: left;
  width: 152px;
}
.folders ul {
  margin-left: 10px;
}
.folders>li {
  margin-bottom: .5em;
}
#active_mocks {
  margin-bottom: 50px;
  text-align: left;
}
#active_mocks img {
  background: #444;
  padding: 4px;
  display: block;
  width: 144px;
}
#active_mocks a:hover img {
  background-color: #619df2;
}
#active_mocks .fresh .text {
  background-image: url(../images/dot.gif);
  background-position: 0 3px;
  background-repeat: no-repeat;
  padding-left: 18px;
}
#active_mocks li {
  float: left;
  margin-right: 22px;
  width: 152px;
}
#active_mocks a {
  line-height: 20px;
}
#active_mocks ul {
  margin: 10px -22px 15px 0;
}
#active_mocks .meta {
  color: #555;
  font-size: 10px;
  margin-top: .5em;
}
#active_mocks .preview_container {
  height: 100px;
  margin-bottom: 10px;
  overflow: hidden;
}
#content {
  background: #333;
  margin: 0 auto;
  padding: 50px 40px;
  text-align: center;
  width: 500px;
}
#discussions {
  color: white;
  line-height: 24px;
  text-align: left;
}
#discussions .time {
  color: #aaa;
  float: right;
  margin-right: 10px;
}
#discussions a {
  border-bottom: 1px solid #555;
  color: white;
  display: block;
  padding: 6px 5px;
  text-decoration: none;
}
#discussions a:hover {
  background: #347adc;
}
#discussions a:hover .reply_count {
  background: white;
  color: #347adc;
}
#discussions ul {
  margin-bottom: 50px;
  width: 100%;
}
#discussions .reply_count {
  color: white;
  float: right;
  background: #347adc;
  -moz-border-radius: 12px;
  text-align: center;
  height: 24px;
  width: 24px;
}
#features {
  margin: 0 -10px;
}
#features a:hover {
  background-color: #444;
  border-bottom: 1px dotted #999;
  text-decoration: none;
}
#logo a {
  border-bottom: none;
  text-decoration: none;
}
#logo a:hover {
  background: none;
}
#logo img {
  margin-bottom: 60px;
}
