<div id="content">
  <%= link_to image_tag('logo.png'), '/Mockr', :id => "logo"  %>
  <div id="features">
    <% Mock.features.each do |feature| %>
      <a href="/<%= feature %>"><%= feature %></a>
    <% end %>
  </div>
</div>