input[type=text], textarea {
  margin: 5px 0 10px;
  width: 100%;
}
input[type=text] {
  padding: 5px;
}
input[type=submit] {
  font-size: 14px;
}
textarea {
  padding: 8px 5px;
}
.field_row {
  margin-bottom: 15px;
}
.submit_bar {
  text-align: right;
}