<div id="feedback_header">
  <h3>Feedback from
    <select id="feedback_filter" name="feedback_filter">
      <option>All (9)</option>
      <option disabled="disabled">----</option>
      <option>Good (4)</option>
      <option>Bad (5)</option>
      <option disabled="disabled">----</option>
      <option>Brad (4)</option>
      <option>Kristján (2)</option>
    </select>
  </h3>
</div>
