<div class="module" id="header">
  <%= link_to_function image_tag("hide-sidebar.gif"), "mockr.hideSidebar();",
      :class => "hide_link", :title => "Hide Sidebar" %>    
  <h1><%= link_to image_tag("logo-sm.gif"), "/" %></h1>
</div>
