<div class="module" id="header">
  <select id="feature_list">
    <option>Go to feature...</option>
    <% Mock.features.each do |feature| %>
      <option value="<%= feature %>"<%= ' selected="selected"' if @mock.dir == feature %>><%= feature %></option>
    <% end %>
  </select>
  <h1>MOCKR</h1>
</div>
