<div id="sidebar">
  <div class="module" id="header">
    <h1>MOCKR</h1>
  </div>
  <%= render :partial => "mock_header" %>
  <%= render :partial => "add_feedback_form" %>
  <%= render :partial => "comments" %>
</div>

<div id="mock">
  <%= image_tag @mock.image_path %>
</div>
