<html>
  <head>
    <title><%= @title || '' %> | Mockr</title>
    <link rel="shortcut icon" href="/images/feelings/happy.gif" />
    <%= stylesheet_link_tag "base" %>
    <%= stylesheet_link_tag "home" %>
  </head>
  <body>      
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
